<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/common.html' %}
</head>
<body>
<nav class="nav" style="position: fixed; top: 0; height: 80px; width: 100%;">
  <div style="width: 100%;">
    <a class="navbar-brand" style="color: white; padding-left: 4%;" href="/" id="a_home">Todos</a>
    <button type="button" class="dropdown-toggle text-uppercase bg-primary text-white rounded"
            style="float: right; margin-right: 1rem; padding: 0.8rem;"
            id="dropdownMenuButton" data-toggle="dropdown">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/todos/add">Add a todo</a>
      <a class="dropdown-item" href="#">Comming Soon</a>
      <!--      <a class="dropdown-item" href="/stat">Statistics</a>-->
      <!--      <a class="dropdown-item" href="#">Another action</a>-->
      <!--      <a class="dropdown-item" href="#">Something else here</a>-->
    </div>
  </div>
</nav>
</body>
<script>
  function home() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              document.getElementById('rootHtml').innerHTML = xhttp.responseText
          }
      };
      xhttp.open("GET", "/", true);
      xhttp.setRequestHeader('Authorization', 'Bearer '+localStorage.getItem('token'))
      xhttp.send();
  }
</script>
</html>