<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/common.html' %}
</head>
<body>
<nav class="nav">
  <div style="width: 100%;">
    <a class="navbar-brand" href="/" style="color: white; padding-left: 4%;">Checkin</a>
    <p style="color: gray; font-size: 12px;  text-align: center;">My notes should be more detailed, and I need read them more often.</p>
    <button type="button" class="dropdown-toggle text-uppercase bg-primary text-white rounded"
            style="float: right; margin-right: 1rem; padding: 0.8rem;"
            id="dropdownMenuButton" data-toggle="dropdown">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/schedule/add">Add a task</a>
    </div>
  </div>
</nav>
</body>
</html>