<!DOCTYPE html>
<html lang="en">
<body>
{% include 'common/nav.html' %}

<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate="" id="form" action="/schedule/save" method="post">
          <div class="row g-3">
            <div class="col-sm-6 gap1">
              <label for="scheduleName" class="form-label">Schedule name</label>
              <input type="text" class="form-control" id="scheduleName" name="scheduleName" placeholder="" value="" required="" autocomplete="off">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-md-5 gap1">
              <label for="scheduleType" class="form-label">Schedule Type</label>
              <select class="form-select" id="scheduleType" name="scheduleType" required="">
                <option value="">Choose...</option>
                <option value="1">Daily</option>
                <option value="2">Weekly</option>
                <option value="3">Monthly</option>
                <option value="4">Seasonly</option>
                <option value="5">Yearly</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

          </div>

          <div class="row fixed-buttom">
            <button type="button" class="btn btn-large" onclick="handleSubmit()">Submit!</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{% include 'common/foot.html' %}
<script type="text/javascript">
  function handleSubmit(){
      $('#form').submit()
  }
</script>
</body>
<style>
.gap1{
    padding: 1em;
}
</style>
</html>