<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Good Study :p </title>
  {% include 'common/nav.html' %}
</head>
<body>
<div class="container" style="height: 80%; margin-bottom: 50px;">
</div>
{% include 'common/foot.html' %}
</body>
<script>
    $(document).ready(() => {
    })
</script>
<style>
    .score {
        display: inline-block;
        border: 1px solid #fff;
        margin: 1em;
        padding: 1em;
        border-radius: 1rem 1rem 1rem 1rem;
    }

    .score_score {
        text-align: center;
        color: #fff;
        font-size: 2em;
    }
</style>
</html>