<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/nav.html' %}
</head>
<body>
<div class="container" style="padding-bottom: 50px;">
  {#<div class="mb-3 form-check content">
    <input type="hidden" id="taskId" value="{{plan.id}}">
    <h1 class="title">{{plan.plan_name}}</h1>
    <div class="text-center">{{plan.start_date}} ~ {{plan.end_date}}</div>
    <hr/>
    <p style="text-align: center;">
      {{plan.explanation}}
    </p>
    <hr/>
    {% for score in scores %}
    <span class="score">
      <div class="score_score">{{score.score}}</div>
      <div class="score_date">{{score.score_date}}</div>
    </span>
    {% endfor %}
    <hr/>
    <div id="average_div" style="text-align: center; font-size: 2em; color: #dc3545; padding-bottom: 100px;">
      {{average}}
    </div>
  </div>#}

  {% for plan in plans %}
  <div class="mb-3 form-check card_panel" id="div_{{plan.id}}">
    <input type="hidden" id="planId" value="{{plan.id}}">
    <label class="form-check-label" for="checkbox_{{plan.id}}">{{plan.plan_name}}</label>
    <div>
      <div class="content">{{ plan.explanation if plan.explanation else ''}}</div>
      <span class="date_mark">{{ plan.start_date }}  ~  {{ plan.end_date }}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% include 'common/foot.html' %}
</body>
<script>
    $(document).ready(() => {
    })
</script>
</html>