<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/nav.html' %}
</head>
<body>
<div class="container" style="padding-bottom: 50px; padding-top: 80px;">
  {% for record in records %}
    <div class="mb-3 card_panel" id="div_{{ record.id }}" id="div_{{ record.id }}">
      <input type="hidden" id="id_{{ record.id }}" name="id" value="{{ record.id }}">
      <input type="hidden" name="course_id" value="{{ record.course_id }}">
      <div>
        <input type="checkbox" id="checkbox_{{ record.id }}" onchange="handleUpdate('{{ record.id }}')"
             onchange="handleComplete('{{ record.id }}')">
        <label class="form-check-label" for="checkbox_{{ record.id }}" style="padding: 1em; word-break: break-all;">
          {{ record.course_name }}
        </label>
      </div>
      <div>
        <p class="content">{{ record.course_desc if record.course_desc else ''}}</p>
      </div>
      <div class="bottom_span">
        {{ record.planed_date }} |
        <span class="keyword">{{ record.reviewed_times }}</span> Times |
        <a href="/course/edit/{{ record.course_id }}">Edit this course</a>
      </div>
    </div>
  {% endfor %}
</div>
{% include 'common/foot.html' %}
</body>
<script>
    $(document).ready(function () {
    })

    function handleUpdate(id) {
        $.ajax({
            type: "put",
            url: "/record/update",
            data: "id=" + id,
            success: function (result) {
                if (result.code == 200) $('#div_' + id).hide()
            }
        });
    }
</script>
<style>
    .bottom_span {
        text-align: center;
        color: #6c757d;
        font-size: 0.8rem;
    }

    .keyword{
        color: #d63384;
        font-size: large;
    }

    .content{
        color: #6c757d;
        font-size: medium;
        word-wrap:break-word;
    }

    a{
        color: #6c757d;
    }
</style>
</html>