<!doctype html>
<html lang="en">
<body>
{% include 'common/nav.html' %}
<div class="container">
  <div class="row" style="margin-top: 2rem;">
    <h2 class="title">How many times of crying?</h2>
  </div>
  <div class="row content">
    <div class="col-md-6">
      {% for item in items %}
      <p class="text-center">
        Item1: Checked for<span id="_times" class="cried">{{item.times}}</span> days.
      </p>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'common/foot.html' %}
<script>
    $(document).ready(function () {
        window.scrollTo(0, 1)
    })

    function handleClick() {
        /*let times = parseInt($("#_times").text())
        $("#_times").text(++times)*/

        $.ajax({
            url: "/add",
            type: "POST",
            success: function (response) {
                $("#_times").text(response.data)
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
</script>
</body>
</html>