<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/common.html' %}
</head>
<body>
<nav class="nav">
  <div style="width: 100%;">
    <a class="navbar-brand" href="/" style="color: white; padding-left: 4%;">Welcome to my Grocery!</a>
    <!--
    <button type="button" class="dropdown-toggle text-uppercase bg-primary text-white rounded"
            style="float: right; margin-right: 1rem; padding: 0.8rem;"
            id="dropdownMenuButton" data-toggle="dropdown">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/schedule/add">Add a task</a>
      <a class="dropdown-item" href="#">Comming Soon</a>
    </div>
    -->
  </div>
</nav>
</body>
</html>