<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Remember Hard! xD </title>
  {% include 'common/nav.html' %}
</head>
<body>
<div class="container" style="padding-bottom: 50px; padding-top: 80px;">
  {% for review in reviews %}
  <div class="mb-3 task-card" id="div_{{review.id}}" id="div_{{review.id}}">
    <input type="hidden" id="id_{{review.id}}" name="id" value="{{review.id}}">
    <input type="checkbox" id="checkbox_{{review.id}}" onchange="handleUpdate('{{review.id}}')" onchange="handleComplete('{{review.id}}')">
    <label class="form-check-label" for="checkbox_{{review.id}}" style="padding: 1em;">{{review.review_name}}</label>
  </div>
  {% endfor %}
</div>
{% include 'common/foot.html' %}
</body>
<script>
    $(document).ready(function () {
    })

    function handleUpdate(id){
        $.ajax({
            type: "post",
            url: "/review/save",
            data: "id="+id,
            success: function (result) {
                if (result.code == 200) $('#div_'+id).hide()
            }
        });
    }
</script>
</html>