<!DOCTYPE html>
<html lang="en">
<body>
{% include 'common/nav.html' %}

<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate="" id="form" action="/upload" method="post" enctype="multipart/form-data">
          <div class="row g-3">
            <div class="col-sm-6 gap1">
              <label for="docFile" class="form-label">Doc File:</label>
              <input type="file" class="form-control" id="docFile" name="docFile" />
            </div>
          </div>

          <div class="row fixed-buttom">
            <button type="button" class="btn btn-large" onclick="handleSubmit()">Submit!</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{% include 'common/foot.html' %}
<script type="text/javascript">
  function handleSubmit(){
      $('#form').submit()
  }
</script>
</body>
<style>
.gap1{
    padding: 1em;
}
</style>
</html>