<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/nav.html' %}
</head>
<body>
<div class="container" style="padding-bottom: 50px;">
  {% for doc in docs %}
  <div class="mb-3 form-check task-card">
    <p><a href="/download?doc_path={{ doc.doc_path}}&doc_name={{ doc.doc_name}}">{{ doc.doc_name}}</a></p>
  </div>
  {% endfor %}
</div>
{% include 'common/foot.html' %}
</body>
<script>
    $(document).ready(function () {
    })

    function handleComplete(id){
        $.ajax({
            type: "post",
            url: "/complete/" + id,
            success: function (result) {
                if (result.code == 200) $('#div_'+id).hide()
            }
        });
    }
</script>
</html>