<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'common/nav.html' %}
</head>
<style>
  .accomplished {
    background-color: #45877a;
  }
</style>
<body>
<div class="container" style="padding-bottom: 50px;">
  {% for task in tasks %}
  <div class="mb-3 form-check card_panel {{'accomplished' if task.is_completed == '1' else ''}}" id="div_{{task.id}}">
    <input type="hidden" id="taskId" value="{{task.id}}" />
    {% if task.is_completed == '0' %}
    <input type="checkbox" class="form-check-input" id="checkbox_{{task.id}}" onchange="handleComplete('{{task.id}}')">
    {% endif %}
    <label class="form-check-label" for="checkbox_{{task.id}}"> 
      {{('<del>' + task.task_name + '</del>')|safe if task.is_completed == '1' else task.task_name}}
    </label>
    <span class="right_span">{{ task.score if task.score else '' }}</span>
    <div style="text-align: center;">
      <span class="bottom_span">
        Completed <font color="red">{{ task.total }}</font> times in total 
        |
        {{task.task_date}}
        | 
        <a href='/schedule/{{task.task_id}}')">Edit current task</a>   
        <!-- , with the longest streak being {{ task.continuous }} times in a row. -->
      </span>
    </div>
  </div>

  {% endfor %}
</div>
{% include 'common/foot.html' %}
</body>
<script>
    $(document).ready(function () {
    })

    function handleComplete(id){
        $.ajax({
            type: "post",
            url: "/complete/" + id,
            success: function (result) {
                if (result.code == 200) $('#div_'+id).addClass('accomplished')
            }
        });
    }
</script>
</html>