<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 阻止iOS设备上Siri建议锁屏 -->
{#  <meta name="apple-mobile-web-app-siri" content="no-siri">#}
  <!-- 阻止iOS设备在主屏幕上显示网页 -->
{#  <meta name="apple-mobile-web-app-title" content="myapp">#}
{#  <meta name="apple-mobile-web-app-capable" content="no">#}
  <!-- 阻止Windows Phone设备锁屏 -->
{#  <meta name="msapplication-tap-highlight" content="no">#}
  <title>Language Reactor Controller</title>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lidaning@1.2.1/css/index.css">
</head>
<body>

</body>
<!-- 引入Bootstrap脚本 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</html>